// Colors

$color-black: #3B3A48;
$color-blackblack: #080c0d;
$color-black-bg: #111717;
$color-transparent-bg: rgb(13 13 13 / 55%);
$color-white: #ffffff;
$color-transparent-white: #ffffffb9;
$color-lightpeach: #faf6f5;
$color-lightbeige: #e5dad1b7;
$color-peach: #DB995D;
$color-peach-bg: #db9a5da4;

// Typography

$ff-open: "Open Sans", "Arial", sans-serif;
$ff-intro: "Intro", "Arial", sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;