@use "../global/variables";
@use "../global/mixins" as *;

.accordion {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  border-radius: 2px;
  $root: &;

  &__element {
    border-bottom: 1px solid variables.$color-transparent-bg;

    @media (hover: hover) {
      &:hover:not(:focus-visible) {
        border-color: variables.$color-peach;
      }
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
    text-align: left;
    color: variables.$color-black;
    padding: 20px 40px 20px 0;
    position: relative;
    cursor: pointer;
    transition: color 0.3s ease;

    @media (hover: hover) {

      &:hover:not(:focus-visible),
      &:focus-visible {
        color: variables.$color-peach;
      }
    }

    @media (hover: hover) {

      &:hover:not(:focus-visible) .accordion__btn-icon::before,
      &:hover:not(:focus-visible) .accordion__btn-icon::after,
      &:focus-visible .accordion__btn-icon::before,
      &:focus-visible .accordion__btn-icon::after {
        background-color: variables.$color-peach;
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }

    &--active {
      #{$root}__btn-icon {
        transform: rotate(45deg);
      }
    }
  }

  &__btn-text {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;

    @include vp-767 {
      font-size: 18px;
      line-height: 20px;
    }
  }

  &__btn-icon {
    position: absolute;
    height: 32px;
    width: 32px;
    top: 15px;
    right: 0;
    transition: transform 0.3s ease, background-color 0.3s ease;

    &::before,
    &::after {
      content: "";
      height: 2px;
      width: 19px;
      background-color: variables.$color-transparent-bg;
      border-radius: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &::after {
      height: 19px;
      width: 2px;
      transition: opacity 0.3s ease;
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    will-change: max-height;
    transition: all 0.3s ease-in-out;
  }

  &__inner {
    padding: 0 0 20px 0;
  }
}