@use "../global/variables";
@use "../global/mixins" as *;

.accordion {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  gap: 20px;
  border-radius: 2px;
  $root: &;

  &__element {
    border-bottom: 1px solid variables.$color-transparent-bg;
    padding: 0 0 24px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
    text-align: left;
    color: variables.$color-black;
    padding: 0 72px 0 0;
    position: relative;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }

    &--active {
      #{$root}__btn-icon::after {
        opacity: 0;
      }

      +#{$root}__content {
        display: flex;
      }
    }
  }

  &__btn-text {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;

    @include vp-767 {
      font-size: 18px;
      line-height: 20px;
    }
  }

  &__btn-icon {
    position: absolute;
    height: 32px;
    width: 32px;
    top: 0;
    right: 0;

    &::before,
    &::after {
      content: "";
      height: 2px;
      width: 19px;
      background-color: variables.$color-transparent-bg;
      border-radius: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &::after {
      height: 19px;
      width: 2px;
      transition: opacity 0.3s ease;
    }
  }

  &__content {
    display: none;
  }

  &__inner {
    padding: 12px 0 0;
  }

}