@use "../global/variables";
@use "../global/mixins" as *;

.accordion {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  border-radius: 2px;

  &__element {
    border-bottom: 1px solid variables.$color-transparent-bg;

    &[open] {
      border-bottom: none;
    }

    &[open]+.accordion__content {
      grid-template-rows: 1fr;
      border-bottom: 1px solid variables.$color-transparent-bg;
    }

    &[open] .accordion__btn::after {
      transform: rotate(45deg);
    }

    &[open] .accordion__btn {
      color: variables.$color-peach;
    }

    @media (hover: hover) {
      &:hover:not(:focus-visible) {
        border-color: variables.$color-peach;
      }
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: variables.$color-black;
    padding: 20px 0;
    cursor: pointer;
    transition: color 0.3s ease;

    @media (hover: hover) {

      &:hover:not(:focus-visible),
      &:focus-visible {
        color: variables.$color-peach;
      }
    }

    &::marker {
      content: '';
    }

    &::after {
      content: '+';
      font-size: 42px;
      transition: transform 0.3s ease;
    }

    @include vp-767 {
      font-size: 18px;
      line-height: 20px;
    }
  }

  &__btn-text {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;

    @include vp-767 {
      font-size: 18px;
      line-height: 20px;
    }
  }

  &__content {
    display: grid;
    grid-template-rows: 0fr;
    transition: all 0.3s ease-in-out;
  }
}