@use "../global/variables";
@use "../global/mixins" as *;

.burger-menu {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 100%;

  @include vp-1023 {
    width: initial;
  }

  &__nav {
    @include vp-1023 {
      padding: 120px 30px 20px;
      position: fixed;
      top: 0;
      z-index: 20;
      display: flex;
      flex-flow: column;
      height: 100%;
      background-color: variables.$color-lightpeach;
      overflow-y: auto;
      right: -100%;
      transition: 0.8s;
    }
  }

  &__btn {
    display: none;
    position: fixed;
    top: 60px;
    right: 30px;
    z-index: 30;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: variables.$color-peach;
    transition: 0.4s ease;

    @include vp-1023 {
      display: flex;
    }

    @include vp-767 {
      top: 22px;
      right: 15px;
    }

    &:hover .burger-menu__lines {
      filter: brightness(0.8);
    }

    &:hover {
      background-color: variables.$color-black;
    }
  }

  &__lines::before,
  &__lines::after,
  &__lines {
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
    background-color: variables.$color-white;
    transition: 0.4s;
  }

  &__lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__lines::before {
    content: '';
    top: -12px;
  }

  &__lines::after {
    content: '';
    top: 12px;
  }

  &--active .burger-menu__nav {
    right: 0;
    transition: 0.4s;
  }

  &--active .burger-menu__lines {
    background-color: transparent;
  }

  &--active .burger-menu__lines::before {
    top: 0;
    transform: rotate(45deg);
  }

  &--active .burger-menu__lines::after {
    top: 0;
    transform: rotate(-45deg);
  }
}