@use "../global/variables";
@use "../global/mixins" as *;

.chat {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/chat-bg.jpg');
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;

  @include vp-1023 {
    background-position: 55% bottom;
  }

  &__content {
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include vp-767 {
      min-height: 335px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    svg {
      width: 80px;
      height: 80px;
      fill: variables.$color-peach;
      transition: fill 0.3s ease;

      @include vp-1023 {
        width: 60px;
        height: 60px;
      }
    }

    &:hover svg,
    &:focus-visible svg {
      fill: variables.$color-white;
    }

    &:hover .chat__link-text,
    &:focus-visible .chat__link-text {
      color: variables.$color-peach;
    }
  }

  &__link-text {
    width: 450px;
    font-family: variables.$ff-intro;
    font-size: 42px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 1.5px;
    color: variables.$color-white;
    text-shadow: 4px 4px 7px variables.$color-black-bg;
    transition: color 0.3s ease;

    @include vp-1023 {
      font-size: 36px;
    }

    @include vp-767 {
      width: 180px;
      font-size: 20px;
      line-height: 24px;
    }
  }
}