@use "../global/variables";
@use "../global/mixins" as *;

.footer {
  background-color: variables.$color-black-bg;
  padding: 60px 0;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-link {
    img {
      @include vp-767 {
        width: 80px;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 10px;

    svg {
      @include vp-767 {
        width: 60px;
      }
    }

    &:hover .footer__link-text,
    &:focus-visible .footer__link-text {
      color: variables.$color-peach;
    }

    &:hover svg,
    &:focus-visible svg {
      fill: variables.$color-black;
    }
  }

  &__link-text {
    width: 180px;
    color: variables.$color-white;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: right;
    transition: color 0.3s ease;

    @include vp-1023 {
      font-size: 16px;
      line-height: 20px;
    }
  }
}