@use "../global/variables";
@use "../global/mixins" as *;

.header {
  padding: 60px 0;

  @include vp-1023 {
    padding: 50px 0;
  }

  @include vp-767 {
    padding: 20px 0;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 20px;
    fill: variables.$color-peach;

    @include vp-1023 {

      position: absolute;
      bottom: 30px;
      right: 30px;
      z-index: 100;
    }

    svg {
      transition: fill 0.3s ease-in;
    }

    &:hover svg,
    &:focus-visible svg {
      fill: variables.$color-black;
    }
  }
}