@use "../global/variables";
@use "../global/mixins" as *;

.header {
  padding: 60px 0;
  overflow: hidden;

  @include vp-1023 {
    padding: 50px 0;
  }

  @include vp-767 {
    padding: 20px 0;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;


    @include vp-1023 {
      flex-wrap: wrap;
      gap: 20px;
    }
  }

  &__logo {
    flex-shrink: 0;

    @include vp-767 {
      width: 80px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    gap: 20px;
    fill: variables.$color-peach;

    @include vp-1023 {}

    svg {
      transition: fill 0.3s ease-in;
    }

    @media (hover: hover) {

      &:hover svg,
      &:focus-visible svg {
        fill: variables.$color-black;
      }
    }
  }
}