@use "../global/variables";
@use "../global/mixins" as *;

.header {
  padding: 60px 0;

  @include vp-1023 {
    padding: 50px 0;
  }

  @include vp-767 {
    padding: 30px 0;
  }

  &__logo-link {
    @include vp-1023 {
      justify-self: left;
    }

    img {
      @include vp-767 {
        width: 80px;
      }
    }

  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include vp-1023 {
      display: grid;
      row-gap: 20px;
    }
  }

  &__link {
    padding: 10px;
    fill: variables.$color-peach;

    @include vp-1023 {
      justify-self: right;
    }

    svg {
      transition: fill 0.3s ease-in;

      @include vp-767 {
        width: 30px;
      }
    }

    &:hover svg,
    &:focus-visible svg {
      fill: variables.$color-black;
    }
  }

}