@use "../global/variables";
@use "../global/mixins" as *;

.hero {

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }


  &__title {
    margin: 0 0 50px;
    font-family: variables.$ff-intro;
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
    text-align: center;

    @include vp-1023 {
      font-size: 80px;
      line-height: 80px;
    }

    @include vp-767 {
      font-size: 50px;
      line-height: 56px;
    }
  }

  &__title--filled {
    // background-image: url('../../images/hero-text-bg.avif');
    background-image: url('../../images/hero-text-bg-2.avif');
    // background-position: 50% 130%;
    background-position: 10% 50%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }

  &__title--big {
    text-transform: uppercase;
  }

  &__date {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 800;
    line-height: 36px;

    @include vp-1023 {
      font-size: 22px;
      line-height: 24px;
    }
  }

  &__description {
    max-width: 550px;
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    line-height: 36px;

    @include vp-1023 {
      font-size: 20px;
      line-height: 28px;
    }
  }
}