@use "../global/variables";
@use "../global/mixins" as *;

.image {
  position: relative;
  margin: 0;
  height: 100%;

  cursor: pointer;
  transition: transform 0.3s ease;

  @media (hover: hover) {

    &:hover,
    &:focus-visible {
      transform: scale(1.05);
    }
  }

  &__item {
    width: 100%;
    height: 650px;
    border-radius: 2px;
    object-position: center bottom;

    @include vp-767 {
      height: 550px;
    }
  }

  &__description {
    position: absolute;
    content: "";
    width: 100%;
    bottom: 45px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: variables.$color-white;
    text-shadow: 2px 2px 5px variables.$color-black;

    @include vp-767 {
      font-size: 18px;
      line-height: 20px;
    }
  }
}