@use "../global/variables";
@use "../global/mixins" as *;

.image {
  position: relative;
  margin: 0;
  height: 100%;

  &__item {
    width: 100%;
    height: 100%;

    @include vp-767 {
      height: 335px;
    }
  }

  @include vp-1023 {
    flex-basis: 100%;
  }

  &__description {
    padding: 3px;
    position: absolute;
    content: "";
    width: 100%;
    bottom: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: variables.$color-white;
    background-color: variables.$color-transparent-bg;

    @include vp-767 {
      font-size: 18px;
      line-height: 20px;
    }
  }
}