@use "../global/variables";
@use "../global/mixins" as *;

.images {
  &__title {
    @include vp-1023 {
      color: variables.$color-white;
      text-shadow: 2px 2px 5px variables.$color-black;
    }
  }

  &__content {
    position: relative;
    gap: 0;

    & .swiper-pagination {
      bottom: 10px;
    }

    & .swiper-pagination-bullet {
      width: 15px;
      height: 15px;
      font-size: 20px;
      line-height: 24px;
      background-color: variables.$color-white;
    }
  }

  &__list {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    margin: 0;

    @include vp-1023 {
      flex-basis: 100%;
    }
  }

  &__list-item {
    @include vp-1023 {
      flex-basis: 100%;
    }
  }

  &__btn {
    padding: 10px;
    position: absolute;
    height: 100%;
    z-index: 100;

    &:disabled {
      pointer-events: none;

      svg {
        color: variables.$color-black;
      }
    }

    svg {
      color: variables.$color-white;
      transition: color 0.3s ease;

      @include vp-767 {
        width: 40px;
        height: 40px;
      }
    }

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }

    @media (hover: hover) {

      &:hover svg,
      &:focus-visible svg {
        color: variables.$color-peach;
      }
    }
  }
}