@use "../global/variables";
@use "../global/mixins" as *;

.image {
  position: relative;
  margin: 0;
  height: 100%;

  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover,
  &:focus-visible {
    transform: scale(1.05);
  }

  &__item {
    width: 100%;
    height: 100%;
    border-radius: 2px;

    @include vp-767 {
      height: 335px;
    }
  }

  &__description {
    position: absolute;
    content: "";
    width: 100%;
    bottom: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: variables.$color-white;
    text-shadow: 2px 2px 5px variables.$color-black;

    @include vp-767 {
      font-size: 18px;
      line-height: 20px;
    }
  }
}