@use "../global/variables";
@use "../global/mixins" as *;

.images {

  &__title {
    @include vp-1023 {
      color: variables.$color-white;
      text-shadow: 2px 2px 5px variables.$color-black;
    }
  }

  &__content {
    position: relative;
  }


  &__list {
    list-style-type: none;
    display: flex;
    gap: 40px;
    padding-left: 0;
    margin: 0;
  }

  &__list-item {
    @include vp-1023 {
      flex-basis: 100%;

      &:last-child {
        display: none;
      }
    }
  }

  &__btn {
    padding: 10px;
    position: absolute;
    height: 100%;

    svg {
      color: variables.$color-white;
      transition: color 0.3s ease;
    }

    &--left {
      right: 0;
    }

    &--right {
      left: 0;
    }

    &:hover svg,
    &:focus-visible svg {
      color: variables.$color-peach;
    }
  }
}