@use "../global/variables";
@use "../global/mixins" as *;

.link {
  padding: 10px;
  font-size: 22px;
  line-height: 24px;
  text-decoration: underline;
  text-underline-offset: 3px;
  transition: color 0.3s ease;

  @include vp-767 {
    font-size: 18px;
    line-height: 20px;
  }

  @media (hover: hover) {

    &:hover,
    &:focus-visible {
      color: variables.$color-peach;
    }
  }
}