@use "../global/variables";
@use "../global/mixins" as *;

.main {
  scroll-behavior: smooth;
  position: relative;
  flex: 1;

  &__section {
    padding: 40px 0;

    @include vp-767 {
      padding: 30px 0;
    }
  }

  &__section-title {
    font-family: variables.$ff-intro;
    font-size: 36px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.5px;
    text-align: center;
    margin: 0 0 40px;

    @include vp-1023 {
      font-size: 28px;
      line-height: 28px;
    }

    @include vp-767 {
      margin: 0 0 30px;
      font-size: 24px;
      line-height: 24px;
    }
  }

  &__section-content {
    display: flex;
    gap: 40px;

    @include vp-1023 {
      flex-wrap: wrap;
    }

    @include vp-767 {
      gap: 20px;
    }
  }

  &__section-img {
    flex-basis: 50%;
    width: 50%;
    height: 450px;
    border-radius: 2px;

    @include vp-1023 {
      flex-basis: 100%;
      object-position: top;
    }

    @include vp-767 {
      height: 335px;
    }
  }

  &__section-description {
    display: flex;
    flex-direction: column;
    gap: 22px;
    flex-basis: 50%;

    @include vp-1023 {
      flex-basis: 100%;
      padding: 10px;
    }
  }

  &__section-text {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;

    @include vp-767 {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__section-link {
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 3px;
    transition: color 0.3s ease-in;

    &:hover,
    &:focus-visible {
      color: variables.$color-peach;
    }
  }

  &__section-text-title {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;

    @include vp-767 {
      font-size: 20px;
      line-height: 20px;
    }
  }
}