@use "../global/variables";
@use "../global/mixins" as *;

.nav {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 100%;
  justify-content: space-between;

  &__list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include vp-1023 {
      flex-wrap: wrap;
      flex-direction: column;
    }
  }

  &__list-link {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: variables.$color-black;
    transition: color 0.3s ease-in;

    @include vp-1023 {
      font-size: 16px;
      line-height: 18px;
    }

    &:hover,
    &:focus-visible {
      color: variables.$color-peach;
    }
  }
}