@use "../global/variables";
@use "../global/mixins" as *;

.nav {
  @include vp-1023 {
    order: 3;
    grid-column: span 2;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include vp-767 {
      flex-wrap: wrap;
    }
  }

  &__list-link {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: variables.$color-black;
    transition: color 0.3s ease-in;

    @include vp-1023 {
      font-size: 16px;
      line-height: 18px;
    }

    &:hover,
    &:focus-visible {
      color: variables.$color-peach;
    }
  }
}