@use "../global/variables";
@use "../global/mixins" as *;

.route {

  &__title {
    @include vp-1023 {
      color: variables.$color-white;
      text-shadow: 2px 2px 5px variables.$color-black;
    }
  }

  &__content {
    flex-direction: column;
    align-items: center;
  }

  &__map {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    & iframe {
      border-radius: 2px;
    }
  }

  &__caption {
    width: 80%;
    margin: 0;
    padding: 10px;
    position: absolute;
    content: "";
    bottom: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    background-color: variables.$color-transparent-white;

    @include vp-767 {
      width: 100%;
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-radius: 2px;
    background-color: variables.$color-lightbeige;
  }

  // &__text--ellipsis {

  //   @include vp-1023 {
  //     display: -webkit-box;
  //     -webkit-line-clamp: 2;
  //     -webkit-box-orient: vertical;
  //     overflow: hidden;
  //     text-overflow: ellipsis;
  //     max-height: 3em;
  //   }
  // }
}