@use "../global/variables";
@use "../global/mixins" as *;

.route-section {
  padding: 40px 0 100px;

  &__text {
    text-align: center;

    &--warning {
      color: variables.$color-warning;
      font-weight: 600;
      font-size: 22px;
      line-height: 26px;

      @include vp-1023 {
        font-size: 18px;
        line-height: 22px;
      }
    }

    &--white {
      padding: 10px;
      color: variables.$color-white;
      background-color: variables.$color-transparent-bg;
    }
  }

  &__content {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    list-style: none;
    margin-top: 0;
    margin-bottom: 40px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    @include vp-1023 {
      gap: 20px;
    }
  }

  &__list-item {
    width: 100%;

    &:nth-child(even) .route-card {
      flex-direction: row-reverse;

      @include vp-1023 {
        flex-direction: column;
      }
    }

    &:nth-child(n+5) .route-card__content {
      background-color: variables.$color-transparent-white;
    }
  }

  &__link {
    color: variables.$color-white;
  }

  &__figure {
    width: 100%;
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__description {
    width: 90%;
    position: absolute;
    content: '';
    bottom: 20px;
    padding: 10px;
    text-align: center;
    color: variables.$color-warning;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: variables.$color-white;
    background-color: variables.$color-transparent-bg;

    @include vp-1023 {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__image {
    width: 100%;
  }
}