@use "../global/variables";
@use "../global/mixins" as *;

.route-section {

  &__content {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 65vh;
  }

}