@use "../global/variables";
@use "../global/mixins" as *;

.route {

  &__content {
    flex-direction: column;
    align-items: center;
  }

  &__map {
    width: 100%;
  }

  &__map {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  &__caption {
    width: 80%;
    margin: 0;
    padding: 10px;
    position: absolute;
    content: "";
    bottom: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    background-color: variables.$color-transparent-white;

    @include vp-767 {
      width: 100%;
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background-color: variables.$color-lightbeige;
  }
}