@use "../global/variables";
@use "../global/mixins" as *;

.staff {
  padding: 60px 0 80px;

  @include vp-767 {
    padding: 30px 0 60px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  &__text-title {
    text-align: center;
    // color: variables.$color-white;
  }

  &__lists {
    display: flex;
    gap: 40px;

    @include vp-1023 {
      flex-wrap: wrap;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    gap: 20px;
    padding: 10px;
    background-color: variables.$color-lightbeige;

    @include vp-1023 {
      flex-basis: 100%;
    }
  }

  &__name {
    font-size: 20px;
    line-height: 28px;
  }

  &__list {
    margin: 0;
    padding-left: 30px;
  }

  &__list-item {
    font-size: 18px;
    line-height: 24px;
  }
}