@use "../global/variables";
@use "../global/mixins" as *;

.staff {
  padding: 60px 0 80px;
  background-color: variables.$color-lightpeach;
  background-image: url(../../images/staff/staff.webp);
  background-repeat: no-repeat;
  background-position: right 0;
  background-size: 500px;

  @include vp-1023 {
    background-image: none;
  }

  @include vp-767 {
    padding: 60px 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  &__text-title {
    text-align: center;

    @include vp-767 {
      font-size: 20px;
      line-height: 22px;
    }
  }

  &__lists {
    display: flex;
    align-self: start;
    gap: 40px;
    width: 50%;

    @include vp-1023 {
      width: 100%;
    }
  }

  &__list {
    margin: 0;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__list-item {
    font-size: 18px;
    line-height: 24px;

    @include vp-767 {
      font-size: 16px;
      line-height: 20px;
    }
  }
}