@use "../global/variables";
@use "../global/mixins" as *;

.tour-info {
  padding: 60px 0 80px;

  @include vp-767 {
    padding: 30px 0 40px;
    background-color: transparent;
  }


  &__title {
    color: variables.$color-white;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
  }

  &__text-title {
    font-size: 42px;
    line-height: 42px;
    text-align: center;
    color: variables.$color-white;
  }

  &__text {
    color: variables.$color-white;
  }

  &__list {
    margin: 0;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: variables.$color-white;
  }
}