@use "../global/variables";
@use "../global/mixins" as *;

.tour-info {
  padding: 60px 0 80px;
  background-color: variables.$color-peach-bg;

  @include vp-767 {
    padding: 30px 0 40px;
    // background-color: transparent;
  }

  &__title {
    color: variables.$color-white;

    @include vp-767 {
      margin-bottom: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
  }

  &__text-title {
    font-family: variables.$ff-intro;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    // color: variables.$color-peach;
    color: variables.$color-black;

    @include vp-767 {
      font-size: 28px;
      line-height: 36px;
    }
  }

  &__text {
    color: variables.$color-white;
    // color: variables.$color-black;
  }

  &__list {
    margin: 0;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    // color: variables.$color-peach;
    color: variables.$color-white;
  }
}