@use "../global/variables";
@use "../global/mixins" as *;

.training {
  padding: 60px 0 80px;
  background-color: variables.$color-transparent-bg;

  @include vp-767 {
    padding: 30px 0 40px;
    background-color: transparent;
  }

  &__title {
    color: variables.$color-white;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  &__text-title {
    color: variables.$color-white;
  }

  &__text {
    color: variables.$color-white;
  }

  &__list {
    margin: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: variables.$color-white;
    list-style: none;

    @include vp-767 {
      gap: 10px;
    }
  }

  &__list-item {
    display: flex;
    align-items: center;
    gap: 20px;

    &::before {
      content: '';
      width: 100px;
      height: 100px;
      background-size: cover;
      background-repeat: no-repeat;

      @include vp-1023 {
        width: 60px;
        height: 50px;
      }

      @include vp-767 {
        width: 100px;
        height: 35px;
      }
    }

    &:first-child::before {
      background-image: url('../images/training/gym.png');
    }

    &:last-child::before {
      background-image: url('../images/training/running.png');
    }
  }

  &__link {
    color: variables.$color-white;
  }
}